<div id="footer-container" class="container-fluid">
    <section id="footer">
        <div class="container">
            <div class="col-md-6">
                <h1>Legal</h1>
                <p>&copy 2017 Benedict Balzer - <a href="{{site.url}}/legal">Legal Notice</a></p>
            </div>
            <div class="col-md-6">
                <h1>Follow Me</h1>
                <p>
                    <a href="https://twitter.com/{{ site.social.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> | 
                    <a href="https://github.com/{{ site.social.github }}"><i class="fa fa-github" aria-hidden="true"></i> Github</p></a> |
                    <a href="https://youtube.com/{{ site.social.youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
                </p>
            </div>
        </div>
    </section>
</div>