<div class="navbar navbar-fixed-top navbar-inverse navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.url}}">Hopps.Me</a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{site.url}}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li class=""><a href="{{'/about' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-user" aria-hidden="true"></i> About Me</a></li>
                <li class=""><a href="{{'/blog' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-book" aria-hidden="true"></i> Blog</a></li>
                <li class=""><a href="{{'/games' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-gamepad" aria-hidden="true"></i> My Games</a></li>
                <li class=""><a href="{{'/other' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-cloud" aria-hidden="true"></i> Other Projects</a></li>
            </ul>
        </div>

    </div>
</div>