<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.10.0/styles/railscasts.min.css" integrity="sha256-6U2JOFcbHqOXGz42wIcAhgr6oNU0FZNPP8CQZuAR7IA=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.url}}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{site.author.name}}" />
    <meta name="description" content="{{site.meta_description}}" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self'; script-src 'self' https://cdn.jsdelivr.net https://maxcdn.bootstrapcdn.com; style-src 'self' https://cdn.jsdelivr.net https://maxcdn.bootstrapcdn.com; font-src 'self' https://maxcdn.bootstrapcdn.com;">

    <title>{{site.title}} {{page.title}}</title>
</head>
<body>
        {% include header-menu.html %}

        <div id="header-container" class="container-fluid">
            <header id="header" class="header-index">
                <div id="header-center" class="row">
                    <div id="header-about" class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                        <h1>Benedict Balzer</h1>
                        <h3>#Gamedev and Randomness</h3>
                    </div>
                </div>
            </header>
        </div>

        <div id="main-content" class="container-fluid">
            <div class="container">
                {{content}}
            </div>
        </div>
        
        {% include footer.html %}
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/9.10.0/highlight.min.js" integrity="sha256-3SFEu3qBPVRitcXI7ITnBKtwkYmoqF7ap4xI5dEexaY=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{site.url}}/assets/js/script.js"></script>
</body>
</html>