<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/9.10.0/styles/railscasts.min.css" integrity="sha256-6U2JOFcbHqOXGz42wIcAhgr6oNU0FZNPP8CQZuAR7IA=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.url}}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{site.author.name}}" />
    <meta name="description" content="{{site.meta_description}}" />

    <title>{{site.title}} {{page.title}}</title>
</head>
<body>
        {% include header-menu.html %}

        <div id="header-container" class="container-fluid">
            <header id="header" class="header-index">
                <div id="header-center" class="row">
                    <div id="header-about" class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                        <h1>Benedict Balzer</h1>
                        <h3>#Gamedev and Randomness</h3>
                    </div>
                </div>
            </header>
        </div>

        <div id="main-content" class="container-fluid">
            <div class="container">
                {{content}}
            </div>
        </div>
        
        {% include footer.html %}
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/9.10.0/highlight.min.js" integrity="sha256-3SFEu3qBPVRitcXI7ITnBKtwkYmoqF7ap4xI5dEexaY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    <script integrity="sha256-v5H4nTtrH7b89F/FeQ0Qk84zko1imAjtphs8T/GfVgo=">
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
