---
layout: default
---
<div class="col-lg-12">
    <div class="row">
        <section id="entry">
            <h1>{{ page.title }}</h1>
            <p class="tagline">
                {% if page.categories.size > 0 %} 
                Categories: {{ page.categories | array_to_sentence_string }} 
                {% endif %} | 
                Posted on {{ page.date | date: "%b %-d, %Y" }} 
            </p>

            {% if page.image %}
                <img src="{{site.url}}/assets/img/posts/{{page.image}}" class="img-responsive img-thumbnail center">
                <br>
            {% endif %}

            {{ content }}
        </section>
    </div>

    <div class="row">
        {% if site.related_posts %}
        <div class="related">
            <h4>Related Posts</h4>
            <ul class="posts">
                {% for post in site.related_posts limit:3 %}
                <li>
                  <span>{{ post.date | date_to_string }} &raquo;</span>
                  <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>